// background

body {
  background-image:url(/images/background.jpg);
  background-image:url(/images/background.jpg);
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position:50% 50%; 
}

// page-opacity

.content-wrap {
  opacity: 0.85;
}

.sidebar {
  opacity: 0.85;
}

.header-inner {
  background: rgba(255,255,255,0.85);
}

.popup {
  opacity: 0.9;
}